
// ====COLOR VARIABLES ====
$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-grey-light1: #f9f7f6;
$color-grey-light2: #999;
$color-grey-dark1: #54483a;
$color-grey-dark2: #6d5d4b;



// ==== FONT VARIABLES ====
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// ==== MIXINS ===
@mixin heading {
  font-family: $font-display;
  text-transform: uppercase;
  font-size: 4rem;
  color: $color-primary-dark;
  animation: fromLeft 1s;
}



//==== RESETS ====
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16 = 0.625 => Makes 1 rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  line-height: 1.7;
  box-sizing: border-box;
  color: $color-grey-dark2;
}

// ==== HEADER STYLES ====
.header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100vh;
  .bg-video {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.5;
    }
  }

  // ==== ANIMATION ====

  @keyframes fromLeft {
    0% {
      opacity: 0;
      transform: translateX(-20rem);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes pulsate {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  // ==== END OF ANIMATION ====

  .intro {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
    background-image: linear-gradient(#000, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 1px 2px 6px rgba(#000, 0.1);
    text-align: center;
    padding: 4rem;
    animation: fromLeft 1s;
    font-family: "Roboto", sans-serif;

    &__name {
      font-size: 5.5rem;
    }
    &__desc {
      font-size: 3.5rem;
      letter-spacing: 0.7rem;
    }
  }

  .nxt-btn {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: center;
    padding: 4rem;
    animation: pulsate infinite 1s;

    &__link {
      display: block;
      text-decoration: none;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
    &__icon {
      width: 5rem;
      height: 5rem;
      fill: $color-grey-dark1;
    }
  }
}

// ==== NAVIGATION STYLES ====
.navbar {
  font-family: $font-display;
  font-size: 1.8rem;
  color: $color-primary;
  background-color: $color-grey-dark1;
  z-index: 20;
  position: sticky;
  top: 0;

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 0.5rem 3rem;
    display: block;

    &:hover,
    &:focus {
      color: $color-primary-dark;
      background-color: $color-grey-dark2;
    }
  }
}

// ==== ABOUT STYLES ====
.about {
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0% 100%, 0 0);
  background-color: $color-grey-light1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content max-content 1fr;
  grid-gap: 3rem;

  &__heading {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    @include heading;
    margin-top: 10rem;
    justify-self: center;

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 14.1rem;
      background-color: currentColor;
    }
  }

  &__process {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3.5rem;

      &-icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $color-primary;
      }

      &-text {
        font-size: 2.5rem;
        margin-left: 1rem;
        transition: all 0.2s;

        span {
          color: $color-primary;
          font-size: 3rem;
        }

        &:hover {
          transform: translateX(2rem) scale(1.2);
        }
      }
    }
  }

  &__info {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding: 5rem;
    box-shadow: 1px 2px 6px rgba(#000, 0.15);

    &--img {
      width: 12rem;
      height: 12rem;
      // padding: .5rem;
      border: 4px solid $color-primary-dark;
      margin: 10px;
      border-radius: 50%;
      float: left;
      shape-outside: circle();
    }

    &--text {
      font-size: 2.2rem;

      span {
        color: $color-primary-dark;
      }
    }
  }

  &__skills {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding: 5rem;
    display: grid;
    grid-gap: 3rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
    grid-template-rows: repeat(2, min-content);
    box-shadow: 1px 2px 6px rgba(#000, 0.15);

    &--container {
      &-icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $color-primary;
      }

      &-text {
        font-size: 1.5rem;
      }
    }
  }
}

// ==== PROJECTS STYLES ====

.projects {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-dark1;
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 50% 100%, 0 100%, 0% 15%);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 15%,
    100% 100%,
    50% 100%,
    0 100%,
    0% 15%
  );

  &__heading {
    align-self: center;
    @include heading;
    margin: 5rem 0 0 0;

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 19.9rem;
      background-color: currentColor;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    justify-items: center;
    grid-gap: 3rem;
    margin-top: 3rem;
    padding: 5rem;

    .project {
      width: 20rem;
      height: 30rem;
      background-color: #fff;
      transition: all 0.8s;
      margin: 3rem 0;
      box-shadow: 1px 2px 6px rgba(#fff, 0.15);

      &:hover {
        transform: rotateY(180deg);
      }

      &__link {
        text-decoration: none;
        color: $color-primary-dark;
        display: block;
        height: 100%;
      }

      &__image {
        height: 100%;
        width: 100%;
      }

      &__name {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        font-family: $font-display;
        background-color: $color-grey-dark2;
      }
    }
  }
}

// ==== CONTACT STYLES ====

.contact {
  padding: 5rem;
  padding-top: 0;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    padding: 3rem;
    @include heading;
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 19.5rem;
      background-color: currentColor;
    }
  }

  &__description {
    font-size: 2.5rem;
    padding: 0 5rem;

    span {
      color: $color-primary;
    }
  }

  &__form {
    width: 60%;
    padding: 2rem;
    box-shadow: 1px 2px 6px rgba(#000, 0.5);
    border-radius: 5px;

    .form-group__name:placeholder-shown + .form-group__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-3rem);
    }

    .form-group__email:placeholder-shown + .form-group__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-3rem);
    }

    .form-group {
      margin: 2rem;

      &__name,
      &__email,
      &__text {
        width: 90%;
        padding: 0.5rem;
        outline: none;
        border: none;
        border-bottom: 2px solid $color-primary-dark;

        &::-webkit-input-placeholder {
          font-family: $font-primary;
        }
      }
      &__name:focus,
      &__email:focus,
      &__text:focus,
      &__submit:focus {
        border: 2px solid $color-primary-dark;
      }

      &__label {
        display: block;
        font-size: 1.3rem;
        padding: 0.5rem;
        transition: all 0.2s;
      }

      &__text {
        height: 7rem;
      }

      &__submit {
        border-radius: 1rem;
        border: 2px solid #fff;
        box-shadow: 2px 2px 10px -5px rgba(0,0,0,0.75);
        padding: 1rem 2.5rem;
        outline: none;
        font-size: 2rem;
        font-weight: bold;
        color: $color-grey-light1;
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-dark;
        }
      }
    }
  }
}

// ==== FOOTER STYLES ====

.footer {
  background-color: $color-grey-dark1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    padding: 1rem 3rem;

    &--item {
      width: 2.5rem;
      height: 2.5rem;
      fill: $color-primary;
      margin-left: 3.5rem;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .copyright {
    font-size: 1.6rem;
    color: $color-primary;
    padding: 1rem 3rem;
  }
}

// ==== MEDIA QUERY BREAKPOINTS ====
@media only screen and (max-width: 992px) {

  html {
    font-size: 50%;
  }

  .about {
    clip-path: none; //changed
  
    &__heading {
      margin-top: 5rem;//changed
    }
  }

  .contact__form {
    width: 100%;
  }


}

@media only screen and (max-width: 651px) {
  html {
    font-size: 40%;
  }

  .about__process--container {
    margin: 0 2.5rem;

    &-text {
      font-size: 2.5rem;
      margin-left: 1rem;
      transition: all 0.2s;

      &:hover {
        transform: none;
      }
    }
  }
  
  .projects {
    clip-path: none;
  }
}

@media only screen and (max-width:529px) {
  .navbar__list li:not(:nth-child(1)) {
    display: none;
  }

  .about__process {
    display: none;
  }

  .about__info {
    grid-column: 1 / -1; //changed
  }

  .about__skills {
    grid-row: 4 / 5; //changed
    grid-column: 1 / -1; //changed
  }

  .contact {
    padding: 2rem;

    &__description {
      padding: 0;
    }
  }


}